{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    {% for survey in surveys %}
        {% for get_survey in survey.survey.all %}
            <div class="card mt-3 shadow-lg rounded">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Survey: {{ get_survey.name }}</h4>
                </div>
                <div class="card-body">
                    <h6 class="card-title">Survey Details</h6>
                    <p><strong>Start Date:</strong> {{ get_survey.start_date }}</p>
                    <p><strong>End Date:</strong> {{ get_survey.end_date }}</p>
                </div>
                <div class="card-footer">
                    <a href="{% url 'survey' survey.id %}" class="btn btn-danger">Take Survey</a>
                </div>
            </div>
        {% endfor %}
    {% empty %}
        <div class="col-12 text-center mt-5">
            <p class="text-danger h5">No submitted surveys available at the moment.</p>
        </div>
    {% endfor %}
</div>
{% endblock content %}
