{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        {% for survey in surveys %}
            {% for get_survey in survey.survey.all %}
                <div class="col-md-6 mb-5"> <!-- Adjusted width here -->
                    <div class="card text-center shadow-lg">
                        <div class="card-header bg-primary text-white">
                            <h4>{{ get_survey.name }}</h4>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Details</h5>
                            <p class="card-text">Start Date: {{ get_survey.start_date }}</p>
                            <p class="card-text">End Date: {{ get_survey.end_date }}</p>
                        </div>
                        <div class="card-footer">
                            <a href="#" class="btn btn-success">Take Survey</a>
                        </div>
                    </div>
                </div>
            {% empty %}
                <div class="col-12 text-center">
                    <p class="text-danger">No surveys available at the moment.</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>
{% endblock content %}


