{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    {% for survey in submitted_surveys %}
        {% for get_survey in survey.survey.all %}
            <div class="card mt-3">
                <div class="card-header bg-primary text-white">
                    <h4>Survey: {{ get_survey.name }}</h4> 
                </div>
                <div class="card-body">
                    <h6 class="card-title">Survey Details</h6> 
                    <p><strong>Start Date:</strong> {{ get_survey.start_date }}</p>
                    <p><strong>End Date:</strong> {{ get_survey.end_date }}</p>
                    <p><strong>Description:</strong> {{ get_survey.description }}</p> 
                    <hr> 
                    <h6 class="card-title">Questions and Answers</h6>
                    <ul>
                        {% for answer in survey.answer.all %}
                        <li>
                            <strong>Question:</strong> {{ answer.question.text }} <br>
                            <strong>Answer:</strong> {{ answer.rating }}
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        {% endfor %}
    {% empty %}
    <div class="col-12 text-center">
        <p class="text-danger">No Submitted surveys available at the moment.</p>
    </div>
    {% endfor %}
</div>
{% endblock content %}
